PyMuPDF
numpy
openai
requests
rank-bm25
scikit-learn
networkx
matplotlib
tqdm
Pillow
faiss-cpu
pandas
ipywidgets
rdflib
spacy
pyvis
datasets
transformers
accelerate
google-generativeai
python-dotenv
streamlit
python-dotenv
google-generativeai
openai>=1.30.0

